<header class="main-header">
  
  <div class="logo-container">
    <img src="../../../assets/images/ASEPAVI-LOGO.png" alt="Logo" class="logo" routerLink="/inicio">
  </div>

  <nav class="nav-links">
    <a (click)="irOfertas()">Ofertas</a>
    <a (click)="irPostulaciones()" (click)="debug()" >Postulaciones</a>
  </nav>

  <div class="auth-buttons">
    <span class="usuario">👤 {{ usuario?.nombreUsuario }}</span>
    <button class="btn-secondary" (click)="irPerfil()">Ver Perfil</button>
    <button class="login-btn" (click)="cerrarSesion()">Cerrar Sesión</button>
  </div>

</header>
