<div class="editar-perfil-container" *ngIf="!cargando && empresa" >
  
  <h2>Editar Perfil de {{ empresa.nombreUsuario }} </h2>

  <form (ngSubmit)="guardar()">

    <label>Nombre Completo</label>
    <input type="text" [(ngModel)]="empresa.nombreCompleto" name="nombreCompleto">

    <label>CIF</label>
    <input type="text" [(ngModel)]="empresa.cif" name="cif">

    <label>Actividad</label>
    <input type="text" [(ngModel)]="empresa.actividadEmpresa" name="actividadEmpresa">

    <label>Calle</label>
    <input type="text" [(ngModel)]="empresa.calle" name="calle">

    <label>Número</label>
    <input type="number" [(ngModel)]="empresa.numero" name="numero">

    <label>Polígono</label>
    <input type="text" [(ngModel)]="empresa.poligono" name="poligono">

    <label>Localidad</label>
    <input type="text" [(ngModel)]="empresa.localidad" name="localidad">

    <label>Código Postal</label>
    <input type="number" [(ngModel)]="empresa.codigoPostal" name="codigoPostal">

    <label>Teléfono</label>
    <input type="text" [(ngModel)]="empresa.telefono" name="telefono">

    <label>Email</label>
    <input type="email" [(ngModel)]="empresa.email" name="email">

    <label>Dirección Web</label>
    <input type="text" [(ngModel)]="empresa.direccionWeb" name="direccionWeb">

    <div class="botones">
      <button type="submit" class="btn-guardar" >Guardar</button>
      <button type="button" class="btn-volver" (click)="volverPerfil()">Volver</button>
    </div>
  </form>
</div>

<div *ngIf="cargando">Cargando datos...</div>
