<header class="main-header">
  <div class="logo-container">
    <img src="../../../assets/images/ASEPAVI-LOGO.png" alt="Logo" class="logo">
  </div>
  <nav class="nav-links">
    <a routerLink="/usuarios">Usuarios</a>
    <a routerLink="/empresas">Empresas</a>
    <a routerLink="/ofertas">Ofertas</a>
  </nav>
   <div class="auth-buttons">
    <span class="usuario">👤 {{ usuario.nombreUsuario }}</span>
    <button class="login-btn" (click)="cerrarSesion()">Cerrar Sesión</button>
  </div>
</header>
