.editar-perfil-container {
  max-width: 800px;       
  margin: 40px auto;      
  padding: 25px 30px;     
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.editar-perfil-container h2 {
  margin-bottom: 25px;
  color: #0055a5;
  font-size: 2em;
}

.editar-perfil-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.4em;
}

.editar-perfil-container input,
.editar-perfil-container select,
.editar-perfil-container textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.editar-perfil-container input[type="file"] {
  padding: 5px 0;
}

.editar-perfil-container .botones {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px;
}

.btn-guardar, .btn-volver{
  padding: 10px 18px;
  background-color: #0055a5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-guardar:hover {
  background-color: #003f7a;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #1e7e34;
}



@media (max-width: 480px) {
  .editar-perfil-container {
    padding: 20px 15px;
  }

  .editar-perfil-container .botonera {
    justify-content: center; 
  }

  .btn-guardar {
    width: 100%;
  }
}
